{{#each products}}
<div class="container">
  <div class="card-group">
    <div class="card" style="width: 18rem;">
      <div class="card-body text-right">
        <img src={{image}} class="img-thumbnail float-left" style="width: 30rem;" alt="...">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">{{details}}</p>
        <div class="card-text">
          <label>Quantity: </label>
          <input type="number" min="1" step="1" placeholder="">
        </div>
        <p class="card-text">Price: {{price}}</p>
        <p class="card-text"></p>
        <a href="#" class="btn btn-secondary" productId="{{id}}">Add to <i class="fa fa-shopping-cart fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>
{{/each}}